@charset "utf-8";
html {
    --dl-dt-min-width: 4em;
    --dl-border-style: solid;
    --dl-border-color: #DFDFDF;
    --button-border-radius: 0.2em;
    --button-backg-color: rgb(0,120,212);
    --button-hover-color: rgb(0,107,189);
    --button-active-color: rgb(0,92,163);
}
body, div, span, header, nav, main, footer, article, section, aside {box-sizing: border-box;}
h1, h2, h3, h4, h5, h6, p, a, img, svg {box-sizing: border-box;}
ul, ol, li, dl, dt, dd {box-sizing: border-box;}
iframe, dialog, details, summary {box-sizing: border-box;}
canvas, video, audio {box-sizing: border-box;}
html {font-family: "Microsoft Yahei",Sans-Serif;font-size: 11.55pt;}
body, h1, h2, h3, h4, h5, h6, ol, ul, dl, dd, p {margin: 0;}
body {-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.container {margin: auto;min-height: 100vh;background-color: white;}
iframe, img, video {width: 100%;vertical-align: top;}
iframe {height: 100%;background-color: #f5f5f5;}
a {text-decoration-line: none;}
ul, ol {padding: 0;list-style-position: inside;list-style-type: none;}
section {background-color: white;}
dl {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: var(--dl-border-style);
    border-color: var(--dl-border-color);
    background-color: white;
}
dt {
    flex: none;
    padding: 0.35em 0;
    min-width: var(--dl-dt-min-width);
    text-align: justify;
    text-align-last: justify;
    white-space: nowrap;
}
dd {
    flex: auto;
    padding: 0.35em;
    border-left-width: 1px;
    border-left-style: var(--dl-border-style);
    border-color: var(--dl-border-color);
}
form {background-color: white;}
input, select {outline: none;font-size: inherit;white-space: nowrap;background-color: white;}
textarea {outline: none;font-size: inherit;background-color: white;}
input::placeholder, textarea::placeholder {color: rgb(150,150,150);}
select, textarea {border-width: 1px;border-style: solid;border-color: rgb(204,204,204);}
button {
    outline: none;
    padding: 0 2em;
    font-size: inherit;
    line-height: 2.35em;
    color: white;
    border: none;
    border-radius: var(--button-border-radius);
    appearance: none;
}
a.button {
    padding-left: 2em;
    padding-right: 2em;
    font-size: inherit;
    line-height: 2.35em;
    color: white;
    background-color: var(--button-backg-color);
    border-radius: var(--button-border-radius);
}
a.button:hover {background-color: var(--button-hover-color);}
a.button:active {background-color: var(--button-active-color);}
button[type="button"] {background-color: var(--button-backg-color);}
button[type="button"]:hover {background-color: var(--button-hover-color);}
button[type="button"]:active {background-color: var(--button-active-color);}
button[type="reset"] {color: initial;background-color: #E5E5E5;}
button[type="reset"]:hover {background-color: #D5D5D5;}
button[type="reset"]:active {background-color: #BFBFBF;}
button[type="button"][value="back"] {background-color: #E7696C;}
button[type="button"][value="back"]:hover {background-color: #D55255;}
button[type="button"][value="back"]:active {background-color: #BE5153;}
button, a.button {white-space: nowrap;cursor: pointer;}
summary:hover {cursor: pointer;}
a[data-href] {cursor: pointer;}
body, dialog {overscroll-behavior-y: contain;}
a, img {-webkit-user-drag: none;}
button:focus {outline: none;}
[contenteditable]:focus {outline: none;}
[inert] {pointer-events: none;cursor: default;}
[inert], [inert] * {-webkit-user-select: none;-ms-user-select: none;user-select: none;}
a, summary, button, svg {-webkit-user-select: none;-ms-user-select: none;user-select: none;}
a, li, button, a:active, li:active, button:active, [onclick] {-webkit-tap-highlight-color: transparent;}
@page {size: auto a4;margin: 2em;}
@media print {caption {display: none;}}
